.red, .yellow, .green, .cyan, .purple, .pink {
  background: black;
  color: white;
  text-decoration: underline solid 0.05em;
  text-decoration-skip-ink: none;
}

.red:hover, .yellow:hover, .green:hover, .cyan:hover, .purple:hover, .pink:hover {
  text-decoration-color: white;
}

.red {
  text-decoration-color: $red;
}

.red:hover {
  background: $red;
}

.yellow {
  text-decoration-color: $yellow;
}

.yellow:hover {
  background: $yellow;
}

.green {
  text-decoration-color: $green;
}

.green:hover {
  background: $green;
}

.cyan {
  text-decoration-color: $cyan;
}

.cyan:hover {
  background: $cyan;
}

.purple {
  text-decoration-color: $purple;
}

.purple:hover {
  background: $purple;
}

.pink {
  text-decoration-color: $pink;
}

.pink:hover {
  background: $pink;
}
