@import "color-preset/material.css";

@import "./components/progressbar.css";
@import "./components/blockquote.css";
@import "./components/button.css";
@import "./components/form.css";

/**
 * Progress Bar
 */

.progress-bar {
  @mixin mixin-progress-bar;
}

.progress-bar-filled {
  @mixin mixin-progress-bar-filled #808080;
}

.progress-bar-filled-success {
  @mixin mixin-progress-bar-filled $green-600;
}

.progress-bar-filled-error {
  @mixin mixin-progress-bar-filled $red-600;
}

/**
 * Table
 */

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.75rem 0;
  color: #778087;
  & td,
  & th {
    vertical-align: top;
    border: 1px solid #ccc;
    line-height: 15px;
    padding: 10px;
  }
  & thead th {
    font-size: 10px;
  }
  & tbody td:first-child {
    font-weight: 700;
    color: #333;
  }
}


/**
 * Card
 */
.card {
  border: 1px solid #ccc;
  & .card-header {
    color: #333;
    text-align: center;
    background-color: #ddd;
    padding: .5rem 0;
  }
}

/**
 * Alerts
 */
.alert {
  color: #ccc;
  padding: 1rem;
  border: 1px solid #ccc;
  margin-bottom: 1.75rem;
}

.alert-success {
  @mixin alert $green;
}

.alert-error {
  @mixin alert $red;
}

.alert-info {
  @mixin alert $cyan;
}

.alert-warning {
  @mixin alert $orange;
}

/**
 * Media
 */
.media:not(:last-child) {
  margin-bottom: calc(15/12)rem;
}

.media-left {
  display: table-cell;
  vertical-align: top;
  padding-right: 1rem;
}

.media-right {
  display: table-cell;
  vertical-align: top;
  padding-left: 1rem;
}

.media-body {
  display: table-cell;
  vertical-align: top;
}

.media-heading {
  font-size: calc(14/12)rem;
  font-weight: 700;
}

.media-content {
  margin-top: .3rem;
}

/**
 * Holders
 */
.placeholder,
.avatarholder {
  background-color: #f0f0f0;
  text-align: center;
  color: #b9b9b9;
  font-size: 1rem;
  border: 1px solid #f0f0f0;
}

.avatarholder {
  width: 48px;
  height: 48px;
  line-height: 46px;
  font-size: 2rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &.rounded {
    border-radius: 33px;
  }
}

/**
 * Loading
 */
.loading {
  display: inline-block;
  content: '&nbsp;';
  height: 20px;
  width: 20px;
  margin: 0 .5rem;
  animation: rotate 0.6s infinite linear;
  border: 2px solid $pink;
  border-right-color: transparent;
  border-radius: 50%;
}

.btn .loading {
  margin-bottom: 0;
  width: 14px;
  height: 14px;
}

/* Remains for backwards compatibility */
.btn div.loading {
  float: left;
}

.alert .loading {
  margin-bottom: -5px;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

/**
 * Menu
 */
.menu {
  width: 100%;
  & .menu-item {
    display: block;
    color: $grey-700;
    border-color: $grey-700;

    &:hover, &.active {
      color: black;
      border-color: black;
      background-color: transparent;
    }
  }
}
