/**
 * code by https://github.com/mrcoles/markdown-css
 * with some modifications
 */

.rstrtt,
.rstrtt h1,
.rstrtt h2,
.rstrtt h3,
.rstrtt h4,
.rstrtt h5,
.rstrtt h6,
.rstrtt code,
.rstrtt blockquote,
.rstrtt em,
.rstrtt strong,
.rstrtt code {
  margin: 0;
  font-family: "Fira Code", "Jetbrains Mono";
  font-feature-settings: "calt" 1; /* Enable ligatures for IE 10+, Edge */
  text-rendering: optimizeLegibility; /* Force ligatures for Webkit, Blink, Gecko */
}
.rstrtt h1 { font-size: 3rem; }
.rstrtt h2 { font-size: 2rem; }
.rstrtt h3 { font-size: 1.8rem; }
.rstrtt h4 { font-size: 1.6rem; }
.rstrtt h5 { font-size: 1.4rem; }
.rstrtt h6 { font-size: 1.2rem; }
.rstrtt,
.rstrtt code,
.rstrtt blockquote,
.rstrtt em,
.rstrtt strong,
.rstrtt code {
  font-size: 1rem;
}
.rstrtt,
.rstrtt h1,
.rstrtt h2,
.rstrtt h3,
.rstrtt h4,
.rstrtt h5,
.rstrtt h6,
.rstrtt code,
.rstrtt blockquote,
.rstrtt code {
  font-style: normal;
}
.rstrtt code,
.rstrtt blockquote,
.rstrtt em,
.rstrtt strong,
.rstrtt code {
  line-height: 20px;
}
.rstrtt h1,
.rstrtt h2,
.rstrtt h3,
.rstrtt h4,
.rstrtt h5,
.rstrtt h6,
.rstrtt code,
.rstrtt blockquote,
.rstrtt ol,
.rstrtt ul,
.rstrtt li,
.rstrtt p,
.rstrtt section,
.rstrtt header,
.rstrtt footer {
  float: none;
  margin: 0;
  padding: 0;
}
.rstrtt h1,
.rstrtt p,
.rstrtt ul,
.rstrtt ol,
.rstrtt blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
}
.rstrtt h1,
.rstrtt h2,
.rstrtt h3,
.rstrtt h4,
.rstrtt h5,
.rstrtt h6 {
  position: relative;
  margin-bottom: 1.75rem;
}
.rstrtt h1:before,
.rstrtt h2:before,
.rstrtt h3:before,
.rstrtt h4:before,
.rstrtt h5:before,
.rstrtt h6:before {
  display: inline;
  color: $light-grey;
}
.rstrtt h1:before {
  content: "# ";
}
.rstrtt h2:before {
  content: "## ";
}
.rstrtt h3:before {
  content: "### ";
}
.rstrtt h4:before {
  content: "#### ";
}
.rstrtt h5:before {
  content: "##### ";
}
.rstrtt h6:before {
  content: "###### ";
}
.rstrtt li {
  position: relative;
  display: block;
  padding-left: 20px;
}
.rstrtt li:after {
  position: absolute;
  top: 0;
  left: 0;
}
.rstrtt ul > li:after {
  content: "-";
}
.rstrtt ol {
  counter-reset: ol;
}
.rstrtt ol > li:after {
  content: counter(ol) ".";
  counter-increment: ol;
}
.rstrtt ol li:nth-child(n+10):after {
  left: -7px;
}
/*
.rstrtt blockquote {
  position: relative;
  padding-left: 17px;
  padding-left: 2ch;
  overflow: hidden;
}
.rstrtt blockquote:after {
  content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
  white-space: pre;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
}
*/
.rstrtt em:before,
.rstrtt em:after {
  content: "*";
  display: inline;
  color: $light-grey;
}
.rstrtt pre code:before,
.rstrtt pre code:after {
  content: '';
}
.rstrtt code {
  font-weight: 700;
}
.rstrtt code:before,
.rstrtt code:after {
  content: "`";
  display: inline;
  color: $light-grey;
}
/*
.rstrtt hr {
  position: relative;
  height: 20px;
  overflow: hidden;
  border: 0;
  margin: 20px 0;
}
.rstrtt hr:after {
  content: "----------------------------------------------------------------------------------------------------";
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  width: 100%;
  word-wrap: break-word;
}
*/
@-moz-document url-prefix() {
  .rstrtt h1 {
    display: block;
  }
}
.rstrtt-ones ol > li:after {
  content: "1.";
}
